@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
    --green-olive-color: #6d8b74;
    --green-olive-color-light: #a6bfa0;
    --orange-light-color: #F5ECE1;
    --beige-color: #f5f0ec;
    --black-light-color: rgb(63, 63, 63);
    --header-padding: 10px;
    --header-img-margin-right: 20px;
    --nav-ul-margin-right: 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--beige-color);
    padding: 10px;
    /*position: sticky;
    top: 0;
    overflow: hidden;*/


    nav {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            margin: 0 1.5em;
        }

        a {
            white-space: nowrap;
            font-weight: bold;
            display: block;
            padding: 1.25em;

            border-radius: 30px;

            color: var(--green-olive-color);
            background-color: var(--orange-light-color);
            text-decoration: none;
            text-align: center;
            transition: background-color 0.3s, color 0.3s, transform 0.3s;
        }

        a:hover {
            color: var(--beige-color);
            background-color: var(--green-olive-color);
            text-decoration: none;
            transform: scale(1.1);
        }

        div:first-of-type {
            margin-right: 2.5%;
        }

        div:last-of-type {
            margin-left: 2.5%;
        }
    }
}

body {
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}


/*

        li {
            min-width: fit-content;
            padding: 0;
            background-color: var(--orange-light-color);
            border: 1px solid var(--orange-light-color);
            border-radius: 30px;
            transition: transform .25s;
            overflow: hidden;

            a {
                font-weight: bold;
                display: block;

                width: 100%;
                height: 100%;
                padding: 20px;

                color: var(--green-olive-color);
                text-decoration: none;
                transition: background-color 0.3s, color 0.3s, transform 0.3s;
            }

            a:hover {
                color: var(--beige-color);
                background-color: var(--green-olive-color);
                text-decoration: none;

            }
        }

        li:hover {
            transform: scale(1.1);
        }

        li:first-of-type {
            margin-right: 40px;
        }
    }*/


.beige-background {
    background-image: url('../resources/lineas.png');
    background-size: cover;
    background-position: center;
}

#about {

    background-color: var(--green-olive-color-light);
    color: var(--beige-color);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
        text-align: justify;
        text-justify: inter-word;
        padding: 10px;
    }

    div {
        margin: 10px;
    }

    img {
        border-radius: 50%;
    }
}

#services {
    background-color: var(--beige-color);
    color: var(--green-olive-color);
    display: flex;
    align-items: center;

    #services-image {
        width: 50%;
        height: 400px;
        background-image: url('../resources/about.jpg');
        background-size: cover;
        background-position: center;
    }

    #services-text {
        width: 50%;
        padding: 1em 2em;

        p {
            text-align: center;
        }
    }
}

#rates {
    padding: .5em;
    background-color: var(--green-olive-color-light);
    color: var(--beige-color);

    div {
        margin: 10px;
    }

    img {
        border-radius: 50%;
    }

    #rates-list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    p {
        text-align: center;
    }

    h3 {
        margin-block-start: .5em;
        margin-block-end: .5em;
    }
}

#contact {
    background-color: var(--beige-color);
    color: var(--green-olive-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em 0;

    p {
        text-align: center;
    }

    div {
        margin: 10px auto;
    }

    img {
        border-radius: 50%;
    }

    form {
        margin: 0 30px;
        padding: 1em;

        button {
            background-color: var(--green-olive-color-light);
            color: var(--beige-color);
            border: none;
            padding: 10px 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
        }

        button:hover {
            background-color: var(--green-olive-color);
            transform: scale(1.05);
        }

        li {
            margin-top: 1em;
            text-align: center;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    label {
        display: inline-block;
        width: 75px;
        text-align: left;
        font-weight: bold;
    }

    input,
    textarea {
        font: 1em sans-serif;
        width: 300px;
        box-sizing: border-box;
        border: 1px solid #999;
        border-radius: 30px;
        padding: 15px;
        background-color: var(--beige-color);
    }

    input:focus,
    textarea:focus {
        outline: none !important;
        border: 1px solid var(--green-olive-color);
        box-shadow: 0 0 10px var(--green-olive-color);
        transition: box-shadow 0.6s, border 0.6s, transform 0.3s;
    }

    textarea {
        vertical-align: top;
        height: 10em;
        resize: none;
    }

    .button {
        padding-left: 90px;
    }

    button {
        margin-left: 5.5em;
    }

}