@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');


:root {
    --green-olive-color: #6d8b74;
    --green-olive-color-light: #a6bfa0;
    --orange-light-color: #F5ECE1;
    --beige-color: #f9ecd9;
    --black-light-color: rgb(63, 63, 63);
    --header-padding: 10px;
    --header-img-margin-right: 20px;
    --nav-ul-margin-right: 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--beige-color);
    padding: 20px;
    /*position: sticky;
    top: 0;
    overflow: hidden;*/

    div{
        margin: 0 2.5%;
    }

    nav {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            margin: 0 1.5em;
        }

        a {
            white-space: nowrap;
            font-weight: 400;
            font-size: larger;
            display: block;
            padding: 1.25em;

            border-radius: 30px;

            color: var(--green-olive-color);
            background-color: var(--beige-color);
            text-decoration: none;
            text-align: center;
            transition: background-color 0.3s, color 0.3s, transform 0.3s;
        }

        /*div:first-of-type {
            margin-right: 2.5%;
        }

        div:last-of-type {
            margin-left: 2.5%;
        }*/
    }
}

body {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}

.beige-background {
    background-image: url('../resources/lineas.png');
    background-size: cover;
    background-position: center;
}

#about {

    background-color: var(--green-olive-color-light);
    color: var(--beige-color);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h2 {
        text-align: left;
        padding: 10px;
    }

    p {
        padding: 10px;
        font-size: 1.2em;
    }

    div {
        margin: 0 50px;
    }

    img {
        border-radius: 50%;
    }
}

#services {
    background-color: var(--beige-color);
    color: var(--green-olive-color);
    display: flex;
    justify-content: center;
    align-items: center;

    #services-text {
        padding: .5em 3em;

        p {
            text-align: center;
            font-size: 1.05em;
            padding: 10px;
        }

        #services-list {
            display: flex;
            justify-content: space-between;
            align-items: top;

            div{
                width: 23.5%;
            }
        }
    }
}

#rates {
    padding: .5em;
    background-color: var(--green-olive-color-light);
    color: var(--beige-color);

    div {
        margin: 10px;
    }

    img {
        border-radius: 50%;
    }

    #rates-list {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    p {
        text-align: center;
        font-size: 1.05em;
    }

    h3 {
        margin-block-start: .5em;
        margin-block-end: .5em;
        font-size: 2em;
    }
}

#contact {
    background-color: var(--beige-color);
    color: var(--green-olive-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em 0;

    p {
        text-align: center;
        a {
            white-space: nowrap;
            font-weight: 400;
            display: block;
            padding: 1.25em;

            border-radius: 30px;

            color: var(--green-olive-color);
            background-color: var(--beige-color);
            text-decoration: none;
            text-align: center;
            transition: background-color 0.3s, color 0.3s, transform 0.3s;
        }
    }

    div {
        margin: 10px auto;
    }

    img {
        border-radius: 50%;
    }

    form {
        padding: 1em;

        button {
            background-color: var(--green-olive-color-light);
            color: var(--beige-color);
            border: none;
            padding: 10px 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
        }

        button:hover {
            background-color: var(--green-olive-color);
            transform: scale(1.05);
        }

        li {
            margin-top: 1em;
            text-align: center;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    label {
        display: inline-block;
        width: 75px;
        text-align: left;
    }

    input,
    textarea {
        font: 1em sans-serif;
        width: 300px;
        box-sizing: border-box;
        border: 1px solid #999;
        border-radius: 30px;
        padding: 15px;
        background-color: var(--beige-color);
    }

    input:focus,
    textarea:focus {
        outline: none !important;
        border: 1px solid var(--green-olive-color);
        box-shadow: 0 0 10px var(--green-olive-color);
        transition: box-shadow 0.8s, border 0.2s, transform 0.2s;
    }

    textarea {
        vertical-align: top;
        height: 10em;
        resize: none;
    }

    .button {
        padding-left: 90px;
    }

    button {
        margin-left: 5.5em;
        font-size: 1.05em;
    }
}

@media (max-width: 700px) {

    header{

        nav {
            flex-direction: column;
            align-items: center;

            div {
                width: 150px;
                margin: .5em 0;
                text-align: center;

                a {
                    padding: 10px;
                }

                a:active {
                    color: var(--green-olive-color);
                    background-color: var(--orange-light-color);
                    text-decoration: none;
                    transform: scale(1);
                }
            }

            div:nth-child(3) {
                order: 1;
            }

            div:nth-child(1) {
                order: 2;
            }

            div:nth-child(2) {
                order: 3;
            }

            div:nth-child(4) {
                order: 4;
            }

            div:nth-child(5) {
                order: 5;
            }
        }
    }

    #about {
        flex-direction: column;

        h2 {
            text-align: center;
            padding: 0;
        }

        div{
            text-align: center;
            margin: 0;
        }

        img {
            width: 50%;
        }
    }
    
    #services {

        #services-text {

            #services-list {
                flex-direction: column;

                div{
                    width: 100%;

                    p{
                        padding: 0 2em;
                    }
                }
            }
        }
    }

    #contact {

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        label{
            margin: .5em 0;
            text-align: center;
        }

        button {
            margin: 1em 0;
        }
    }
}

/*Hover effect for desktop, but not for touch devices*/
@media (hover: hover) and (pointer: fine) {
    a:hover {
        color: var(--beige-color);
        background-color: var(--green-olive-color);
        text-decoration: none;
        transform: scale(1.1);
    }
  }